<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='form-styles.css') }}">

    </head>
   <body>
    <h3>
        <a href = "{{ url_for('show_all') }}">Delicious-Taste</a>
     </h3>
      
     <h2 style="text-align: center;">Add New Food Item</h2>
      {%- for category, message in get_flashed_messages(with_categories = true) %}
         <div class = "alert alert-danger">
            {{ message }}
         </div>
      {%- endfor %}
      
      <form id="studentForm">
         <label for="name">Name</label><br>
         <input type="text" name="name" placeholder="Name" /><br>
         <label for="price">Price</label><br>
         <input type="number" name="price" placeholder="price" /><br>
         <label for="availability"> 
             Availability 
         <input type="checkbox" name="availability" id="availability"/>
        </label> 
         <input type="button" value="Submit" onclick="submitForm()" /> 
      </form>

      <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
      <script>
         function submitForm() {
            var data = {
               name: $('input[name="name"]').val(),
               price: $('input[name="price"]').val(),
               availability: $('input[name="availability"]').is(":checked")
            };

            $.ajax({
               url: '/new',
               type: 'POST',
               contentType: 'application/json',
               data: JSON.stringify(data),
               success: function(response) {
                  // Handle the success response here
                  console.log(response);
                  // Refresh the page or perform any other action
                  location.reload();
               },
               error: function(error) {
                  // Handle the error response here
                  console.log(error);
               }
            });
         }
      </script>
      
   </body>
</html>
